@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

.pic {
	background-image: url("../public/color.jpg"); /* Use relative path to the image */
	background-size: cover; /* Makes the image cover the entire div */
	background-position: center; /* Centers the image */
	height: 100vh; /* Example height, adjust as needed */
} /* <- This closing brace was missing */

/* Uncomment and adjust the body style if needed
body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
} */

/* Responsive styles */
@media (min-width: 640px) {
	.ml-8 {
		margin-left: 20px; /* Increase left margin on larger screens */
	}
}

@media (min-width: 768px) {
	.ml-8 {
		margin-left: 30px; /* Adjust left margin further for tablets */
	}
}

/* Add more media queries as needed for different screen sizes */

/* styles/globals.css */

/* styles/globals.css */

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}
